@tailwind base;
@tailwind components;
@tailwind utilities;
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    /* Colors */
    --cDark:#0d1113;
    --cPink:#e8317e;
    --cGray:#8193a0;
    --cWhite:#fbf9f9;
    /* Font Size */
    --HeadingXL: 64px;
    --HeadingL: 48px;
    --HeadingM: 24px;
    --HeadingS: 20px;

    --BodyM: 16px;
    --BodyS: 14px;
    --box-shadow: 0 5px 25px rgb(2,2,2,0.1);
    --text-shadow: 0 5px 25px rgb(2,2,2,0.1);
}
body {
    font-size: var(--BodyM);
}
.right-container {
    width: 95%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
}

.hero-img {
    /* Adjust the height as needed */
    height: 60vh; /* This makes the hero image take 60% of the viewport height */
    background-size: cover; /* Cover ensures that the background image covers the entire container */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    position: relative; /* Needed to position the content inside */
    display: flex;
    align-items: center; /* Vertically center the content */
    justify-content: flex-start; /* Horizontally center the content */
    color: #fff; /* Adjust text color to contrast with the hero image */
    background-image:
            linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8)), /* Left to right gradient */
            linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--cDark)), /* Top to bottom gradient */
    url('../public/images/image-mountain.jpg');
}
.hero-content {
    text-align: left; /* Center the text for the hero content */
    padding: 20px;
    position: relative;
    z-index: 2;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
}
.hero-content-left {
    width: 40%;
    margin-left:2rem;
}
.hero-content-right {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 2rem;
    width: 60%;
}
/* Ensure that the content is above the overlay */
.search-input-container input {
    flex-grow: 1;
    border: none;
    padding:2px;
    border-radius: 2.2rem;
    outline: none; /* Removes the default focus outline */
    background-color: transparent;
    color: #fff;

}
.icon {
    cursor: pointer; /* Change cursor on hover over the icons */
}
.search-btn {
    background: var(--cPink);
    border-radius: 30px;
    padding: 5px 20px;
}
.play-video-btn {
    background: var(--cPink);
    border-radius: 100%;
}

.search-input-container {
    margin-bottom: 4rem;
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px; /* Adjust for desired roundness */
    height: 40px;
    border-right:none;
}

/* left navigation menu takes up 5% width of the screen */
.nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 5%;
    height: 100vh;
    z-index: 100;
    background: var(--cDark);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /*border-top-right-radius: 50px; !* adjust the px value to increase or decrease the curve *!*/
    /*border-bottom-right-radius: 50px; !* adjust the px value to increase or decrease the curve *!*/
    background: linear-gradient(to top, var(--cDark), rgba(58, 55, 55, 0.8));
}

.sidebar-list {
    list-style-type: none;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap:4rem;
}
.sidebar-item {
    padding: 0.625rem;
}
.sidebar-item.clicked {
    background: var(--cPink);
    border-radius: 100%;
}
.nav-menu ul > li:hover {
    background: var(--cPink);
    cursor: pointer;
    border-radius: 100%;
}

/* Tab navigation bar */
.tab-menu {
    list-style: none;
    background: var(--cDark);
    max-width: 60rem;
    padding: 0.625rem;
    white-space: nowrap;
    border-radius: 50px;
    box-shadow: var(--box-shadow);
    overflow-x: auto;
    user-select: none;
}
.tab-menu::-webkit-scrollbar {
    display: none;
}
.tab-item {
    border-radius:30px;
    background: var(--cGray);
    border: 1px solid var(--cGray);
    display:inline-block;
    color: var(--cWhite);
    font-size: smaller;
    font-weight: 400;
    padding: 5px 10px;
    margin: 0 5px;
    user-select: none;
    transition:0.3s ease;

}
.tab-item.clicked {
    background: var(--cPink);
    border: 1px solid var(--cPink);
}
.tab-item:hover {
    background: var(--cPink);
    border: 1px solid var(--cPink);
    cursor: pointer;
}
.tab-navigation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
}
.tab-nav-bar {
    display: flex;
    justify-content: flex-start;
    margin-left: 2rem;
}
.left-btn,.right-btn {
    position: absolute;
    cursor: pointer;
}
.left-btn {
    top:10px;
    left:-30px;
    background: linear-gradient(to left, transparent, var(--cGray), 80%);
}
.left-btn.hidden {
    display: none;
}
.right-btn {
    top:10px;
    right:-30px;
    background: linear-gradient(to right, transparent, var(--cGray), 80%);
}
.right-btn.hidden {
    display: none;
}

/* video section */
.video-category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.video-collection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

/* collection - Trending etc. */
.collection {
    height: 100%;
    width: 95%;
    /*overflow: hidden;*/
}
.collection-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: flex-end;
    margin-left:1rem;
    margin-right:1rem;
}
.title-container {
    display: flex;
    align-items: flex-end;
}
.section-title {
    font-size: var(--HeadingM);
    font-weight: 600;
    margin-right: 0.5rem;
}
.category {
    margin-left: 0.5rem; /* ml-2 */
    background-color: #0d1113; /* Adjust color */
    padding: 0.125rem 0.5rem; /* py-px px-2 */
    text-transform: uppercase;
    font-size: 0.5rem; /* text-[8px] */
    font-weight: 400;
    border-radius: 0.375rem; /* rounded-md */
    border: 2px solid; /* border-2 */

}
.see-more {
    cursor: pointer;
    font-size: 0.75rem; /* text-xs */
    text-transform: uppercase;
}
.card-container-trending {
    display: flex;
    overflow-x: auto;
    position: relative;
    gap: 0.5rem; /* gap-10 remove later when implement responsive */
}
.card-item-trending {
    width: 100%;
    position: relative;
}
.image-container-trending {
    position:relative;
    height:281px;
    width:500px;
    cursor: pointer;
}
.image-container-trending::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--cDark); /* bg-app-dark-blue */
    opacity: 0.2;
}
.info-trending {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    width: 100%;
    z-index: 1;
}
.info-text {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    margin-top: 1rem;
}
.movie-info {
    display: flex;
    flex-direction: column;
}
.movie-title {
    font-size: var(--HeadingS);
    font-weight: 600;
    margin-bottom: 0.25rem;
}

/* Custom horizontal scroll for trending section */
.h-scroll::-webkit-scrollbar {
    border-radius: 10px;
    height: 6px;
    width: 6px;
}
.h-scroll::-webkit-scrollbar-thumb:horizontal {
    background: var(--cGray); /* app-greyish-blue */
    border-radius: 10px;
}
/* Other collection, such as Popular, Top Rated, On Air ... */
.card-container {
    display:flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    gap: 0.625rem;
}
.card-item {
    margin-bottom: 1rem;
    /*background: var(--cGray); !* Placeholder background color *!*/
    /*border: 1px solid #ccc; !* Placeholder border *!*/
    padding: 5px; /* Placeholder padding */
    flex: 0 1 calc(20% - 8px); /* Adjust for gap, 4 items per row by default */
}

.card-item img {
    min-width:100%;
    border-radius: 1rem;
    height: 230px;
    object-fit: cover;
    cursor: pointer;
}

.card-item-long {
    flex: 0 1 calc(33.333% - 8px); /* Adjust for gap, 4 items per row by default */
}


/* Responsive design for device sizes between 768px and 1280px */
@media screen and (min-width: 768px) and (max-width: 1280px) {
    .card-item{ /* Target both classes as they will behave the same */
        flex: 0 1 calc(33.333% - 8px); /* Adjust for gap, 3 items per row */
    }
}

/* Responsive design for device sizes below 768px */
@media screen and (max-width: 767px) {
    .card-item{ /* Target both classes as they will behave the same */
        flex: 0 1 calc(50% - 8px); /* Adjust for gap, 2 items per row */
    }
}