@tailwind base;
@tailwind components;
@tailwind utilities;
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    /* Colors */
    --cDark:#0d1113;
    --cPink:#e8317e;
    --cGray:#8193a0;
    --cWhite:#fbf9f9;
    /* Font Size */
    --HeadingXL: 64px;
    --HeadingL: 48px;
    --HeadingM: 24px;
    --HeadingS: 20px;

    --BodyM: 16px;
    --BodyS: 14px;
    --box-shadow: 0 5px 25px rgb(2,2,2,0.1);
    --text-shadow: 0 5px 25px rgb(2,2,2,0.1);
}
body {
    font-size: var(--BodyM);
}
.right-container {
    width: 95%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero-img {
    /* Adjust the height as needed */
    height: 60vh; /* This makes the hero image take 80% of the viewport height */
    background-size: cover; /* Cover ensures that the background image covers the entire container */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    position: relative; /* Needed to position the content inside */
    display: flex;
    align-items: center; /* Vertically center the content */
    justify-content: flex-start; /* Horizontally center the content */
    color: #fff; /* Adjust text color to contrast with the hero image */
    background-image:
            linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8)), /* Left to right gradient */
            linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8)), /* Top to bottom gradient */
    url('../public/image-mountain.jpg');
}
.hero-content {
    text-align: left; /* Center the text for the hero content */
    padding: 20px;
    position: relative;
    z-index: 2;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
}
.hero-content-left {
    width: 40%;
}
.hero-content-right {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 2rem;
    width: 60%;
}
/* Ensure that the content is above the overlay */
.search-input-container input {
    flex-grow: 1;
    border: none;
    padding:2px;
    border-radius: 2.2rem;
    outline: none; /* Removes the default focus outline */
    background-color: transparent;
    color: #fff;
}
.icon {
    cursor: pointer; /* Change cursor on hover over the icons */
}
.search-btn {
    background: var(--cPink);
    border-radius: 30px;
    padding: 5px 20px;
}
.play-video-btn {
    background: var(--cPink);
}

.search-input-container {
    margin-bottom: 4rem;
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px; /* Adjust for desired roundness */
    height: 30px;
    border-right:none;
}

/* left navigation menu takes up 5% width of the screen */
.nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 5%;
    height: 100vh;
    z-index: 100;
    background: var(--cDark);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /*border-top-right-radius: 50px; !* adjust the px value to increase or decrease the curve *!*/
    /*border-bottom-right-radius: 50px; !* adjust the px value to increase or decrease the curve *!*/
    background: linear-gradient(to top, var(--cDark), rgba(58, 55, 55, 0.8));
}

.sidebar-list {
    list-style-type: none;
}
.sidebar-item {
    padding: 1.5rem;
}
.nav-menu ul > li:hover {
    background: var(--cPink);
    cursor: pointer;
    border-radius: 100%;
}

/* Tab navigation bar */
.tab-menu {
    list-style: none;
    background: var(--cDark);
    max-width: 60rem;
    padding: 0.625rem;
    white-space: nowrap;
    border-radius: 50px;
    box-shadow: var(--box-shadow);
    overflow-x: auto;
    user-select: none;
}
.tab-menu::-webkit-scrollbar {
    display: none;
}
.tab-item {
    border-radius:30px;
    background: var(--cGray);
    border: 1px solid var(--cGray);
    display:inline-block;
    color: var(--cWhite);
    font-size: smaller;
    font-weight: 400;
    padding: 5px 10px;
    margin: 0 5px;
    user-select: none;
    transition:0.3s ease;

}
.tab-item.clicked {
    background: var(--cPink);
    border: 1px solid var(--cPink);
}
.tab-item:hover {
    background: var(--cPink);
    border: 1px solid var(--cPink);
    cursor: pointer;
}
.tab-navigation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
}
.tab-nav-bar {
    display: flex;
    justify-content: flex-start;
    margin-left: 4rem;
}
.left-btn,.right-btn {
    position: absolute;
    cursor: pointer;
}
.left-btn {
    top:10px;
    left:-30px;
    background: linear-gradient(to left, transparent, var(--cGray), 80%);
}
.left-btn.hidden {
    display: none;
}
.right-btn {
    top:10px;
    right:-30px;
    background: linear-gradient(to right, transparent, var(--cGray), 80%);
}
.right-btn.hidden {
    display: none;
}